h2 {
	color: #344638;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	font-size: 25px;
	margin-bottom: 10px;
	
}

p {
	margin: 10px 20% 0px 20%;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;

}