{% extends 'candleapp/index.html' %}
{% load static %}

{% block title %}<title>Ivy - About</title>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">

<div class="border">
<h2>Who Are We?</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pellentesque posuere elit sit amet auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin laoreet est porta porta varius. Mauris id varius nibh, at condimentum turpis. Suspendisse quis vulputate felis, a placerat ex. Ut at ornare lacus. Donec sed sem pharetra justo rhoncus tristique id egestas urna. Phasellus placerat massa elit, quis viverra felis venenatis non. Phasellus dignissim mauris in posuere rhoncus. Cras viverra non nisl sollicitudin vestibulum. Aliquam eget urna sit amet lorem efficitur interdum ut in enim. Pellentesque eu suscipit ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
<h2>Our Candles</h2>
	<p>Duis sem ante, euismod in finibus in, iaculis a tellus. Praesent neque quam, posuere dictum nisi eu, sodales imperdiet mi. Fusce sem ligula, vulputate eu posuere quis, malesuada eget mauris. Aenean libero purus, condimentum eget congue non, bibendum in quam. Nullam luctus dignissim leo et placerat. Quisque tristique libero non cursus imperdiet. In libero odio, vehicula non dui id, euismod viverra sapien. Integer fermentum efficitur eleifend. Cras pretium faucibus magna quis cursus. Morbi luctus vestibulum tortor at faucibus. Donec et felis tortor. Nullam facilisis risus sed consectetur porttitor. Sed non consectetur dui. Vivamus tincidunt ante diam, vehicula luctus ante ultricies molestie. Ut libero purus, suscipit et neque ac, dictum molestie nunc. In ut sagittis est. </p>
{% endblock %}