{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Ivy - Home</title>
		<link rel="stylesheet" href="{% static 'css/candleapp.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap"> 
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@300&display=swap">
		
		<h1>IVY</h1>

		<hr class="solid">

		
	</head>
	<body>

		<header>

			<nav> 
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">About</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>

			<img src=https://images.pexels.com/photos/4620805/pexels-photo-4620805.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260 alt="candle">

		</header>

		<button type="button">Shop Now</button>

		<footer>
			
		</footer>

	</body>

</html>