{% load static %}

<!DOCTYPE html>
<html>

	<head>
		{% block title %}<title>Ivy - Home</title>{% endblock %}
		<link rel="stylesheet" href="{% static 'css/candleapp.css' %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap"> 
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@300&display=swap">
		
		<h1>IVY</h1>
		
	</head>
	<body>

		<header>

			<nav> 
				<ul>
					<li><a href="/candleapp">Home</a></li>
					<li><a href="/candleapp/about">About</a></li>
					<li><a href="/candleapp/shop">Candles</a></li>
					<li><a href="/candleapp/contact">Contact</a></li>
				</ul>
			</nav>
		{% block content %}
			<div class="container">
				<img src=https://images.pexels.com/photos/4620805/pexels-photo-4620805.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260 alt="candle">
				<button class="btn" type="button"><a href="/candleapp/shop">Shop Now</a></button>
			</div>
		{% endblock %}

		</header>

		

		<footer>
			<div class="cr">
				<p>© 2020 Nikki Clark</p>
			</div>
			
		</footer>

	</body>

</html>