{% extends 'candleapp/index.html' %}
{% load static %}

{% block title %}<title>Ivy - Shop</title>{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/shop.css' %}">

<div class="margins">
	<div class="container">
		<div class="img1">
			<a href=""><img class="pic" src="https://via.placeholder.com/250" alt="candle image 1"></a>
			<p class="name">Love</p>
		</div>
		<div class="img2">
			<a href=""><img class="pic" src="https://via.placeholder.com/250" alt="candle image 2"></a>
			<p class="name">Dream</p>
		</div>
		<div class="img3">
			<a href=""><img class="pic" src="https://via.placeholder.com/250" alt="candle image 3"></a>
			<p class="name">Clean</p>
		</div>
		<div class="img4">
			<a href=""><img class="pic" src="https://via.placeholder.com/250" alt="candle image 4"></a>
			<p class="name">Deep</p>
		</div>
		<div class="img5">
			<a href=""><img class="pic" src="https://via.placeholder.com/250" alt="candle image 5"></a>
			<p class="name">Good</p>
		</div>
		<div class="img6">
			<a href=""><img class="pic" src="https://via.placeholder.com/250" alt="candle image 6"></a>
			<p class="name">Ivory</p>
		</div>
	</div>
</div>


{% endblock %}